<div class="users-block">
    <ul>
        @if (Model != null) {
            @foreach (var note in Model) {
                <li>
                    @note.EatingDate
                    @note.Name
                    покушал спаржу уже @note.Counter раз
                </li>
            }
        }
    </ul>
</div>
