<div class="users-block">
    <ul>
        @if (Model != null) {
            @foreach (var user in Model) {
                <li>
                    @user.UserName.Substring(0, user.UserName.IndexOf('@'))
                    ел спаржу @user.Counter раз
                </li>
            }
        }
    </ul>
</div>