/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac; 
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: auto;
    padding: 0;
    background: url('/css/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#eatid{
    margin-left:45%;
}

.users-block {
    margin: 0;
    padding: 0;    
}
.users-block ul{
    padding:0;
    margin:0;
}

    .users-block li {
        height: 50px;
        list-style-type: none;
        border: 1px #dddddd solid;
        border-bottom-style: none;
        line-height: 45px;
        background-color: white;
        padding-left: 20px;
    }

#welcome {
    color:black;
    text-align:center;
    background-color: white;
    opacity:0.9;
}

.pb-3 {
    background-color: white;
    opacity: 0.9;
    border: 1px #dddddd solid;
    border-radius: 5px;
}

#aspTitle{
    margin-left: 33%;
}